/* reset  */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* button */
/* typo */
/* slider */
.slider {
    display: flex;
    height: 100vh;
    align-items: center;
}

.slider__img {
    flex-grow: 1; 
    display: flex;   
    justify-content: center;
    height: 100%;
    flex-wrap: wrap;
}

.slider__arrow {
    font-size: 2rem;
    margin: 2rem;
}

img {
    width: 100%;
    height: calc(100% - 30px);
    object-fit: contain;
}

.bullet {
    display: inline-block;
    height: 20px;
    width: 20px;
    background-color: #000;
    border-radius: 50%;
}

.active {
    background-color: red;
}